<div class="container">
  <div class="container-image">
    <img alt="logo-nota-app" src="assets/images/auth/register-form.png">
  </div>
  <form class="container-main-form" [formGroup]="registerForm" (ngSubmit)="saveUser()">
    <div class="container-info">
      <h2 class="title-info">Crea tu cuenta</h2>
      <p class="text-info">
        Complete el siguiente formulario para crear su cuenta.
      </p>
    </div>
    <div class="form-container">
      <div class="form-group">
        <label class="form-label">Usuario:</label>
        <input class="form-input" type="text" placeholder="Digite su usuario" formControlName="userName">
        <small *ngIf="registerForm.get('userName')?.hasError('maxlength') && registerForm.get('userName')?.touched"
          class="form-error">
          El usuario no puede tener más de 10 caracteres.
        </small>
        <small *ngIf="registerForm.get('userName')?.hasError('required') && registerForm.get('userName')?.touched"
          class="form-error">
          El usuario es obligatorio.
        </small>
      </div>
    </div>
    <div class="form-container">
      <div class="form-group">
        <label class="form-label">Email:</label>
        <input class="form-input" type="text" placeholder="Digite su Email" formControlName="email">
        <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched"
          class="form-error">
          El Email no es valido.
        </small>
        <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched"
          class="form-error">
          El Email es obligatorio.
        </small>
      </div>
    </div>
    <div class="form-container">
      <div class="form-group">
        <label class="form-label">Rol:</label>
        <input class="form-input" type="text" placeholder="Digite su Rol" formControlName="role">
        <small *ngIf="registerForm.get('role')?.hasError('maxlength') && registerForm.get('role')?.touched"
          class="form-error">
          El Rol no puede tener más de 30 caracteres.
        </small>
        <small *ngIf="registerForm.get('role')?.hasError('required') && registerForm.get('role')?.touched"
          class="form-error">
          El Rol es obligatorio.
        </small>
      </div>
    </div>
    <div class="form-container">
      <div class="form-group">
        <label class="form-label">Contraseña:</label>
        <input class="form-input" type="password" placeholder="Digite su Contraseña" formControlName="password">
        <small *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched"
          class="form-error">
          La contraseña es obligatoria.
        </small>
        <small *ngIf="registerForm.get('password')?.hasError('maxlength') && registerForm.get('password')?.touched"
          class="form-error">
          La contraseña no puede tener más de 10 caracteres.
        </small>
        <small *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched"
          class="form-error">
          La contraseña debe tener al menos 8 caracteres.
        </small>
      </div>
    </div>
    <div class="form-container">
      <div class="form-group">
        <label class="form-label">Confirma tu Contraseña:</label>
        <input class="form-input" type="password" placeholder="Confime su contraseña" formControlName="confirmPassword">
        <small
          *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched"
          class="form-error">
          Confirmar la contraseña es obligatorio.
        </small>
        <small
          *ngIf="registerForm.get('confirmPassword')?.hasError('maxlength') && registerForm.get('confirmPassword')?.touched"
          class="form-error">
          La contraseña no puede tener más de 10 caracteres.
        </small>
        <small
          *ngIf="registerForm.get('confirmPassword')?.hasError('minlength') && registerForm.get('confirmPassword')?.touched"
          class="form-error">
          La contraseña debe tener al menos 8 caracteres.
        </small>
        <small
          *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched"
          class="form-error">
          Las contraseñas no coinciden.
        </small>
      </div>
    </div>
    <button class="btn btn-primary btn-lg mt-2" type="submit">
      Registrarse
    </button>

  </form>
</div>