<div class="main-container">
    <header class="header">
        <div class="container-buttons-header">
            <button (click)="logout()">
                Cerrar sesión
            </button>
        </div>
    </header>

    <div class="container-body">
        <div class="container-card" *ngFor="let note of notes">
            <h3 class="card-title">{{note.title}}</h3>
            <p class="card-description">{{note.description}}</p>
            <div>
                <button class="btn btn-primary btn-lg mt-2" (click)="editNote(note)">
                    Editar
                </button><button class="btn btn-primary btn-lg mt-2" (click)="deleteNote(note.id)">
                    Eliminar
                </button>
            </div>

        </div>
        <div class="container-clear-data-text" *ngIf="notes && notes.length === 0">
            <span class="clear-data-text">No hay notas aún</span>
        </div>
    </div>
    <div class="container-button">
        <button class="btn btn-primary btn-low mt-2" (click)="saveNote()">
            Agregar Nota
        </button>
    </div>
</div>