<div class="main-container">
    <header class="header">
        <div class="container-buttons-header">
            <button (click)="logout()">
                Cerrar sesión
            </button>
        </div>
    </header>
     
    <div class="container-body">
        <div class="container-card">
            <h3 class="card-title">Título de la Card</h3>
            <p class="card-description">Esta es la descripción de la card. Puedes agregar más detalles aquí.</p>
        </div>
        <div class="container-card">
            <h3 class="card-title">Título de la Card</h3>
            <p class="card-description">Esta es la descripción de la card. Puedes agregar más detalles aquí.</p>
        </div>
        <div class="container-card">
            <h3 class="card-title">Título de la Card</h3>
            <p class="card-description">Esta es la descripción de la card. Puedes agregar más detalles aquí.</p>
        </div>
    </div>
    <div class="container-button">
        <button class="btn btn-primary btn-low mt-2" (click)="openDialog()">
            Agregar Card
        </button>
    </div>
</div>