<div class="container">
    <div class="container-image">
        <img alt="logo-nota-app" src="assets/images/auth/login.png">
    </div>
    <form class="container-main-form" [formGroup]="authForm" (ngSubmit)="login()">
        <div class="container-image-form">
            <img alt="logo-nota-app" src="assets/images/logo.png">
        </div>
        <div class="container-info">
            <h2 class="title-info">!Hola, bienbenido a Note App!</h2>
            <p class="text-info">
                Inicia sesión para administrar tu cuenta.
            </p>
        </div>
        <div class="form-container">
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input class="form-input" type="text" placeholder="Digite su Email" formControlName="email">
                <small *ngIf="authForm.get('email')?.hasError('email') && authForm.get('email')?.touched" class="form-error">
                    El Email no es valido.
                  </small>
                  <small *ngIf="authForm.get('email')?.hasError('required') && authForm.get('email')?.touched" class="form-error">
                    El Email es obligatorio.
                  </small>
            </div>
        </div>
            <div class="form-container">
                <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input class="form-input" type="password" placeholder="Digite su Contraseña" formControlName="password">
                    <small *ngIf="authForm.get('password')?.hasError('required') && authForm.get('password')?.touched" class="form-error">
                        El contraseña es obligatoria.
                      </small>
                    <small *ngIf="authForm.get('password')?.hasError('maxlength') && authForm.get('password')?.touched" class="form-error">
                        La contraseña no puede tener más de 10 caracteres.
                      </small>
                      <small *ngIf="authForm.get('password')?.hasError('minlength') && authForm.get('password')?.touched" class="form-error">
                        La contraseña debe tener al menos 8 caracteres.
                      </small>
                </div>
            </div>
            <button  class="btn btn-primary btn-lg mt-2" type="submit">
                Iniciar sesión
            </button>
            <div class="d-flex gap-1 mt-4">
                <p class="text-info">
                    ¿No tienes una cuenta?
                </p>
                <a class="link-auth" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Registrate</a>
            </div>
    </form>
</div>