<div class="main-container">
    <header class="header">
        <img alt="logo-nota-app" src="assets/images/logo.png" class="image">
        <div class="container-buttons-header">
            <button routerLink="/auth" routerLinkActive="active" ariaCurrentWhenActive="page">
                Iniciar sesión
            </button>
            <button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
                Crear Cuenta
            </button>
        </div>
    </header>
    <div class="container-body">
        <div class="container-title-description">
            <h2 class="title">
                Somos Note App
            </h2>
             <p class="description">
                ¡Organiza tus ideas y maximiza tu productividad con Note App!
                Nuestra aplicación te ofrece una manera simple, rápida y eficiente de gestionar tus notas. Ya sea para recordatorios, ideas importantes o tareas pendientes, Note App es tu aliado perfecto.
             </p>
             <button>
                Saber mas
            </button>
        </div>
        <div class="container-logo">
            <img alt="logo-nota-app" src="assets/images/logo.png" class="image">
        </div>
    </div>
</div>